VITE_API_ORIGIN=http://localhost:8787
VITE_POSTHOG_KEY=phc_your_project_token
VITE_POSTHOG_HOST=https://us.i.posthog.com
VITE_NEON_AUTH_URL=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_FACEBOOK_GROUP_URL=https://www.facebook.com/groups/
VITE_DISCORD_INVITE_URL=https://discord.gg/
VITE_SUPPORT_EMAIL=support@soul-seer.net
VITE_PRIVACY_EMAIL=privacy@soul-seer.net
